[Unit]
Description=WSL SSH Agent Bridge (KeeAgent)
After=network.target

[Service]
Type=simple
# Executing the Windows binary via the Linux shell wrapper
ExecStart=/usr/bin/sh -c "{{ wsl_keeagent_bin_path }} -socket {{ wsl_keeagent_socket }}"
Restart=on-failure

[Install]
WantedBy=default.target
